body {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Inter", "Roboto", sans-serif;
}
@font-face {
  font-family: "inter_regular";
  src: url("https://fonts.googleapis.com/css?family=Inter-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter_bold";
  src: url("https://fonts.googleapis.com/css?family=Inter-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter_italic";
  src: url("https://fonts.googleapis.com/css?family=Inter-Italic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "inter_light_italic";
  src: url("https://fonts.googleapis.com/css?family=Inter-LightItalic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.hero-container {
  display: flex;
  flex: 1;
  background-color: #1f2937;
  flex-direction: column;
  padding-bottom: 10px;
}
.nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 2;
  justify-content: space-between;
  padding-left: 4.3rem;
  padding-right: 5rem;
}
.links {
  display: flex;
  gap: 16px;
  margin: 0px;
  margin-right: 64px;
  padding-top: 16px;
  padding-right: 25px;
  font-size: 18px;
  color: #e5e7eb;
  padding-left: 0px;
}
.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.hero-content {
  display: flex;
}
.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 16px;
}
li {
  list-style-type: none;
}
.logo {
  width: 200px;
  height: 175px;
  object-fit: contain;
  object-position: 0% -145%;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  border-bottom: 1px solid #333333;
  padding: none;
}
a:hover {
  color: #3882f6;
}

.left-top {
  padding-left: 6rem;
}
.right-top {
  padding-right: 6rem;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
}
.lens {
  width: auto;
  height: 400px;
  object-fit: scale-down;
  object-position: 0% -60%;
}
.signup {
  background-color: #3882f6;
  border-radius: 4px;
  border: none;
  color: #f9faf8;
  font-weight: bold;
  padding: 4px 20px 4px 20px;
  text-align: center;
}
button:hover {
  cursor: pointer;
  color: #1f2937;
  background-color: #e5e7eb;
  box-shadow: inset 0px 0px 3px 0px #3882f6;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: none;
}
.cards {
  border-radius: 4px solid blue;
}
.quote {
  display: flex;
  flex-direction: column;
  color: #a9a9a9;
  font-size: 36px;
  font-style: italic;
  padding: 80px 170px 80px 95px;
  background-color: #e5e7eb;
  align-content: center;
}
.anon {
  font-weight: bold;
  align-self: flex-end;
  color: #1f2937;
  font-style: normal;
}
.cta {
  max-width: 500px;
  background-color: #3882f6;
  border-radius: 4px;
  border: none;
  padding: 40px;
}
.action {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}
.follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.follow:hover {
}
.footer {
  display: flex;
  background-color: #1f2937;
  padding: 1rem;
  color: #f9faf8;
  justify-content: center;
}
